mail:
  subject: "Default Subject"
  message: "Default Message"

spring:
  application:
    name: course

  datasource:
    url: jdbc:postgresql://localhost:5432/course
    username: postgres
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  open-in-view: false
  mail:
    host: smtp.gmail.com
    port: 587
    username :
    password:
    properties:
        mail.smtp.auth: true
        mail.smtp.starttls.enable: true
        mail.smtp.starttls.required: true

logging:
    level:
      root: WARN
      #com.udemyCourse.course: WARN